@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}


body {
    background: linear-gradient(to right, #28dbcb, #3e8cec);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Soulignement animé */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #00fff7;
    transition: width 0.3s ease;
}

a:hover {
    transform: scale(1.1);
    color: #00fff7;
}

a:hover::after {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #1fb2a6, #367fd9);
}

nav {
    width: 40%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.logo {
    width: 200px;
}

/* Style pour les boutons personnalisés */
.btn {
    display: block;
    /* Affichage en bloc (prend toute la largeur disponible) */
    width: fit-content;
    /* S'adapte au contenu (largeur minimale nécessaire) */
    background-color: #444444;
    color: white;
    padding: 10px 32px;
    border-radius: 25px;
    text-decoration: none;
}

/* Conteneur principal du slider de projets */
.sliderProjets-container {
    display: flex;
    /* Affichage en flexbox horizontal */
    gap: 20px;
    /* Espace entre les éléments enfants */
    overflow-x: hidden;
    /* Permet le défilement horizontal */
    scroll-snap-type: x mandatory;
    /* Défilement fluide avec arrêt sur chaque élément */
    height: 350px;
}


/* Sous-conteneur des projets dans le slider */
.slider-projets {
    display: flex;
    /* Affichage en flexbox horizontal */
    gap: 20px;
    /* Espace entre les projets */
    width: 0px;
    /* Largeur fixe */
    flex-shrink: 0;
    /* Empêche le rétrécissement de l'élément dans sa largeur. en gros on autorise les enfants a déborder */
    cursor: pointer;
    /* Change le curseur au survol */
}

/* Style individuel pour chaque projet */
.projet-item {
    width: 350px;
    height: 350px;
    /* Largeur fixe */
    flex-shrink: 0;
    /* Empêche le rétrécissement de l'élément */
    cursor: pointer;
    /* Change le curseur au survol */
    /* background-color: #f7f7f700;*/
    padding: 0px;
    overflow: hidden;
}

/* Style des images dans chaque projet */
.projet-item img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}


p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
a {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
}


.bgred {
    background-color: rgb(255, 0, 0);
}

.bgblue {
    background-color: rgb(0, 26, 255);
}


/*largeur*/
.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.marginB {
    margin-bottom: 20px;
}

.margintop {
    margin-top: 30px;
}


.pad5 {
    margin-bottom: 5px;
}

.souslogo {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 15%;
}

.flex {
    display: flex;
}

.spaceBtw {
    justify-content: space-between;
}

.marginleft {
    margin-left: 700px;
}

.marginslider {
    width: 90%;
}

.sticky {
    position: sticky;
    top: 150px;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 3;
}

.contenuprincipale {
    margin-top: 150px;
}

.pad {
    padding: 30px;
}

.margin300 {
    margin-top: 200px;
}

.marginright {
    margin-right: 50px;
}

.boitecom {
    background-color: rgba(155, 155, 155, 0.46);
    border-radius: 10px;
}

.fleximg {
    justify-content: center;
    display: flex;
    width: 100%;
}


footer {
    background: linear-gradient(to right, #1fb2a6, #367fd9);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}

.boiteimg {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flexwrap {
    flex-wrap: wrap;
}

.test {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.projet-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet-item img:hover {
    transform: scale(1.1);
}

.boitecom {
    background-color: rgba(155, 155, 155, 0.46);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}