*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:black
}

a:hover{
    color: rgb(0, 179, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    border-bottom: solid 1px black;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}



.logo {
    width: 200px;
    filter: invert();
}


body{
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

img{
    width: 60%;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
}